*{
    margin: 0;
    padding: 0;
    background-color: #f1f4c6;
}
.header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #837d7d;
    color: whitesmoke;
}
h1{
    font-family: Bradley Hand, cursive;
    margin-right: 50px;
    font-size: 60px;
    background-color: #837d7d;
    margin-left: 20px;
    margin-bottom: 20px;
}
p{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;
    background-color: #837d7d;
}
.nav_bar{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: monospace;
    background-color: #d6d0b8;
}
.left, .right{
    background-color: #d6d0b8;
    margin-bottom: 10px;
    margin-top: 30px;
}
a{
    margin-right: 45px;
    background-color: #d6d0b8;
    text-decoration: none;
    color: whitesmoke;
}
.mainpic{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d0b8;
}
#homepicture{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(1px);
    overflow: hidden;
}

#homepic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
